{% extends 'base.html' %}

{% block title%}

about
{% endblock %}

{% block content%}

<div style="padding-left: 80PX; padding-top: 70PX;">

    <h1 style="font-family: 'Times New Roman', Times, serif;">About Us</h1>
</div>
<div style="text-align: justify; padding-left: 80px; padding-top: 70px; padding-right: 190px;">
    <h6>Welcome To Best Medical & Health</h6>
    <h4 style="color: rgb(8, 8, 67);font-family: 'Times New Roman', Times, serif;">We’re lanced most powerful treatment system.</h4>
    <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Founded in 1989 with an aim to promote wellness and provide healthcare</h6>
    <br>
    <p style="color: gray; font-family:'Times New Roman', Times, serif;">City Hospital LLP is an accomplished health care facility with staffs who are adroit in their abilities
         to provide you with outstanding service. It was founded in 1989 with an aim to promote wellness and
          provide healthcare for all with the best kinds of services and is successfully achieving milestones
           ever since. We began as a 50 bed treatment facility positioned on NH 213 at Varangode, Down Hill. 42 years into our inception,
         we’ve grown into a 5-floor, 100 bed healthcare facility with all the modern infrastructure
          and treatment mechanisms. The hospital now spans over 4 acres of land with a wide space 
          for parking. Our team has received words of appreciation and applause from the
           Government and the public for our excellence in treating patients and success 
           in conducting other humanitarian activities. MB Hospital was awarded by the
            Government of Kerala for being the first to introduce waste water treatment 
            technology in Malappuram. From diagnostic tests to surgical procedures, our 
            ongoing investment in state-of-the-art technology ensures patients receive 
            the highest quality of care. With a strong history of well served patients, we offer to provide you with best of care and cure!</p>
</div>





<div style="padding-top: 200px;">
    <h3 style="font-family: 'Times New Roman', Times, serif; padding-left: 30px;">City Hospital<hr></h3>
    
    <h6 style="letter-spacing: 1.5PX; padding-left: 300PX; padding-top: 50PX; font-family: 'Times New Roman', Times, serif;">QUICK LINKS</h6>
    <div style=" padding-left: 310PX;color: gray; font-family: 'Times New Roman', Times, serif; text-decoration: none;"><a style="text-decoration: none;color: gray;
    " href="{% url 'about'%}"><p>About</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'booking'%}"><p>Booking</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'doctors'%}"><p>Doctors</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'department'%}"><p>Departments</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'contact'%}"><p>Contact Us</p></a>

<div style="padding-left: 350px;margin-top: -240px;">
  <h5 style="color: black; font-size: 16PX;">ABOUT US</h5>
  <div style="padding-left: 10px; padding-right: 170px;">
  <p>~ Mission & Vision: Highlight the hospital's commitment to providing high-quality, compassionate care and advancing healthcare in the community.</p>
  <p>~ History: A brief history of the hospital, its founding, and milestones.</p>
  <p>~ Emergency Care: 24/7 emergency department with a highly trained staff and state-of-the-art medical equipment.</p>
  <p>~ Maternity & Women's Health: Expert obstetrics and gynecology services, prenatal care, and birthing options.</p>
</div>
</div>
    </div>
    
    
    <div class="container" style="padding-bottom: 200px; padding-left: 600px; padding-top: 20px;" > 
      <img src="https://seekvectors.com/files/download/a9c0d3e9f66ecc43eb9103202e2a1347.jpg" width="16px">
      <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" width="20px">
      <img src="https://static.vecteezy.com/system/resources/previews/018/910/719/non_2x/facebook-logo-facebook-icon-free-free-vector.jpg" width="23px">
    </div>
    
    
{% endblock %}